<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RZDKursovoy.Properties.PersonalData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RZDKursovoy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <RZDKursovoy.Properties.PersonalData>
            <setting name="Database" serializeAs="String">
                <value>RZD</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="KeySi" serializeAs="String">
                <value>-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCyG7tEIig4phHw
husyD7hbcjPdtznuF6uOzv9W/HjHoNUGdEqarbcRmovOmWr9PywF3iIn1EsMoPsf
A4mWhZPNS+OeRcmL88onN4LGabr1V5pego+oxrgyjTA3KxO7lNpqmS4AheDL39++
yi58yISF7G37U4E8QiNnzhNSmRGlcUdz+ClrD9a6030xO11MBwYzFhoxvE5tx/q6
o3oeQzZB9S87om0lCXRQBSMoMYiOBrW6ddv/kILZRJdeVXlRO/IiXm3TGFQelDhjSCz
0Miy849e/tuLaxYx0fL2W787IkjXheMKD/ikPs3ys9mwjpZfS9PGbrfI40aSkDHdK
GukujzQt/JLgs6J877Ak1w9Gfqe6+H6BHlVeaHEBAoGBAKQGK/hC0pd5XlV/Vw0c
eU0JpBxAZ3H4qScGPt2rm+t4QxLh9U13EHI16DZSNuvG5Q/D053UCed9QXwMTl0K
H/y9+Sb9Hva5LTVoRJXRxAvUz/QCetN4VygoDfPDffq0OUwVwEOHEMpUIShNT4yWm
chSfdcG62zdY4wn9H5N+c9HsJq
-----END PRIVATE KEY-----
</value>
            </setting>
            <setting name="RegLogin" serializeAs="String">
                <value>RegMaster</value>
            </setting>
            <setting name="RegPassword" serializeAs="String">
                <value>RegMasterPassword</value>
            </setting>
        </RZDKursovoy.Properties.PersonalData>
        <RZDKursovoy.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>testssss</value>
            </setting>
        </RZDKursovoy.Properties.Settings>
    </applicationSettings>
</configuration>